body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: antiquewhite;
}

header {
    background-color: antiquewhite;
    padding-left: 20px;
    border-radius: 20px 0 0 20px;   
}

table {
    border-collapse: collapse; 
    margin-top: 20px;
    width: 500px;
}

.alx_logo {
    border: 1px solid red;
}
.table-heads {
    border: 2px solid rgb(207, 147, 26); 
    padding: 8px;
    background-color: turquoise;
}

.table-data {
    border: 1px solid rgb(207, 147, 26); 
    padding: 5px;
    text-align: left;
}